.footer {
  display: flex;
  max-width: 106px;
  margin: 0 auto;
  padding: 60px 0;
}

.footer__copyright {
  opacity: .7;
  line-height: 16px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}