.profile {
  display: flex;
  justify-content: space-between;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  max-width: 1280px;
  min-height: 210px;
}

.profile__avatar {
  width: 190px;
  height: 247.83px;
  margin-right: 20px;
}

.profile__avatar-rectangle {
  height: 190px;
  border-radius: 8px;
  color: #d9d9d9;
}

.profile__column {
  display: flex;
  flex-direction: column;
  width: 420px;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  max-width: 420px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  font-size: 16px;
  font-weight: 500;
  opacity: 70%;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  max-width: 420px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  align-self: flex-start;
  margin-top: auto;
  opacity: 70%;
  border: none;
  background-color: transparent;
}

.profile__add-btn {
  width: 149px;
  height: 52px;
  border-radius: 8px;
  margin-left: auto;
  margin-top: auto;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
}

@media screen and (max-width: 628px) {
  .profile {
    flex-direction: column;
    min-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    margin-bottom: 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    font-size: 16px;
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
    justify-content: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 288px;
  }

  .profile__edit-btn {
    margin: 0 0 8px;
    align-self: center;
  }
}